.school-calendar-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.calendar-paper {
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.info-paper {
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 370px; /* Minimum height */
  height: auto; /* Allows content to expand */
  justify-content: space-between; /* Space content evenly */
}

.info-paper h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.info-paper p {
  font-size: 1rem;
  margin: 5px 0;
}

.react-calendar {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  width: 100%;
  max-width: 100%;
}

.react-calendar__tile {
  font-size: 1rem;
  color: #333;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.react-calendar__tile:hover {
  background-color: #007bff;
  color: #fff;
}

.react-calendar__tile--active {
  background-color: #28a745;
  color: #fff;
}

.react-calendar__month-view__weekdays {
  font-weight: bold;
  text-align: center;
}

.react-calendar__month-view__days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.react-calendar__month-view__days__day {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-calendar__tile--now {
  background-color: #ff7f50;
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .school-calendar-section {
    flex-direction: column;
    align-items: center;
  }
}
